@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body, .btn {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 4rem;
  font-weight:600;
  letter-spacing: -0.09rem;
  line-height: 1;
}
h1 span {
  color: #0212FE;
}
h3 {
  font-size:1.5rem;
  font-weight:700;
  margin-bottom:0.8em;
}

p {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight:400;
  color: #5D5D5D;

}
p.slogan {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  color: #5D5D5D;
  font-weight:300;
  line-height: 1.2;
  letter-spacing: -0.03rem;
}

/* BUTTONS ----------------------- */
.btn-primary {
  --bs-btn-bg: #0212FE;

  box-shadow: -1px 2px 7px -2px rgba(0,0,0,0.49);
  -webkit-box-shadow: -1px 2px 7px -2px rgba(0,0,0,0.49);
  -moz-box-shadow: -1px 2px 7px -2px rgba(0,0,0,0.49);

  border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;

  --bs-btn-padding-y: 0.42rem;
  --bs-btn-padding-x: 1rem;
}
.btn-secondary {
  --bs-btn-bg: white;
  border: 1.8px solid #0212FE;
  color: #0212FE;
  --bs-btn-padding-y: 0.42rem;
  --bs-btn-padding-x: 1rem;
}
.btn-tertiary {
  font-size: 0.8rem;
  font-weight:600;
  --bs-btn-bg: white;
  border: none;
  color: #0212FE;
  --bs-btn-padding-y: 0.42rem;
  --bs-btn-padding-x: 1rem;
}
.container .layout-left {
  text-align: left;
}


/* NAVBAR ----------------------- */
a .navbar-brand {
  font-weight: bolder;
  font-size: 1.6rem;
  color:black;
}
a .navbar-brand span{
  font-weight: 600;
  color: #0212FE;
}

/* PILLS ----------------------- */
ul.pills {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 0.85rem;
  padding-left:0;
}
ul.pills li {
  display: inline-flex;
  margin-left: 12px;
  border: 1px solid #C0C0C0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
ul.pills li a {
  color: #202124;
  text-decoration: none;
  
  padding: 0.3em 0.9em;
}
ul.pills li a:hover, ul.pills li a.active {
  background-color: #E8F0FE;
  color:#0212FE;
}

/* CARD & SECTIONS ----------------------- */
.card {
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
section {
  margin-top: 6em;
}
section.Branding-Center {
  text-align:center;
  margin-bottom: 12em;
}
/* ADMIN ----------------------- */
ul.pills li a + a {
  color: #202124;
  margin-left: -0.5rem;
}
/* ADMIN ----------------------- */